@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #220C54;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.arcade-container {
    background-color: #FFAA00;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-bottom: 20px;
}

.arcade-screen {
    background-color: #2C2829;
    padding: 10px;
    border-radius: 5px;
}

#gameCanvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
}

.text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-left, .text-right {
    font-size: 24px;
    margin: 0 10px;
}
